<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" href="/Asset/css/homeStyle.css">
    <!--    Script-->
    <script src="/Asset/script/homeJS.js"></script>

    <title>iNote Online</title>
    <link th:replace="layout :: logo-web" rel="stylesheet" href="">
</head>
<body>

<!-- Header -->
<div th:replace="~{layout :: nav}"></div>

<!--Main Content-->
<div class="container mainhome">
    <div class>
        <!-- Left -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div class="alert alert-success" th:if="${message != null}">
                <strong th:text="${message}"></strong> </a>.
            </div>

            <form th:action="@{/home}" th:method="post" th:object="${note}">
                <legend><h3>Thêm ghi chú mới</h3></legend>
                <input type="hidden" class="form-control"  placeholder="..." th:field="*{ID}" required/>
                <div class="form-group">
                    <label>Tiêu đề</label>
                    <input type="text" class="form-control"  placeholder="..." th:field="*{title}" required/>
                    <i><h5 class="error_message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></h5></i>
                </div>
                <div class="form-group">
                    <label>Thời gian</label>
                    <input type="date" class="form-control input_min" placeholder="..." th:field="*{time}" required/>
                    <i><h5 class="error_message" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></h5></i>
                </div>
                <div class="form-group">
                    <label>Danh mục</label>
                    <select class="form-control" required="required" style="width: 40%;" th:field="*{type}">
                        <option th:each="type_item : ${note_types}" th:value="${type_item.ID}" th:text="${type_item.name}"></option>
                    </select>
                    <i><h5 class="error_message" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></h5></i>
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea name="" id="input" class="form-control" rows="5" th:field="*{content}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Đồng ý</button>
            </form>
        </div>
        <!-- Right -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col-md-12 right_col">
                <h3>Ghi Chú Của Bạn</h3> (* Chỉ bạn nhìn thấy)
                <div class="col_right_all" th:each="note_item : ${notes}" >
                    <a th:href="@{/home/{id} (id=__${note_item.getID()}__)}" title="">
                        <div class="img">
                            <strong class="glyphicon glyphicon-check" style="font-size: 36px;"></strong> &nbsp;
                        </div>
                        <div class="title">
                            <p><strong th:text="${note_item.getTitle()}"></strong><br>
                                <span class="fixtime glyphicon glyphicon-time"><i th:text="${note_item.getTime()}"></i></span>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <br>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{layout :: footer}"></div>

</body>
</html>